# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db
ehthumbs.db
Icon?

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# logfiles
*.log

# IDE files
.idea/
atlassian-ide-plugin.xml
.nbproject
*.sublime-project
*.sublime-workspace

# sass cache directory
.sass-cache

# The Silver Searcher Ignore File
.agignore
