[submodule "mutt/colorschemes/solarized"]
	path = mutt/colorschemes/solarized
	url = git@github.com:altercation/mutt-colors-solarized.git
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/session"]
	path = vim/bundle/session
	url = git@github.com:xolox/vim-session.git
